<!DOCTYPE html>
<html>
<head>
  <title>IScoutr</title>
  <%= stylesheet_link_tag 'main', 'trontastic/jquery-ui', 'data_table_jui' %>
	<%= javascript_include_tag 'jquery', 'jquery-ui-min', 'jquery.dataTables.min', 'application' %>	
  <%= csrf_meta_tag %>
</head>
<body>
<div id="content">
<%= yield %>
</div>
</body>
</html>
