<!DOCTYPE html>
<html>
<head>
  <title>IScoutr</title>
  <%= stylesheet_link_tag 'main', 'trontastic/jquery-ui', 'data_table_jui' %>
	<%= javascript_include_tag :all %>	
  <%= csrf_meta_tag %>
</head>
<body>
<div id="content">
<%= yield %>
</div>
</body>
</html>
